/* section and others  */
section{
    overflow-x: hidden;
    width:100%;
    padding: 20px 0;
    min-height: 70vh;

    justify-content: center;
    /* overflow-x: hidden; */
}
.section-services{
    background-color: pink;
}

.container{
    width: 87%;
    margin: 10px auto;
    /* overflow-x: hidden; */

}
.card{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.cards{
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
    margin: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.cards-image img{
    height: 250px;
    width: 100%;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

section .container h2{
    margin-left: 15px;
    text-align: center;
}
.cards h3, p, h4{
    text-align: center;
}

@media(max-width: 980px){
    .container{
        width: 90%;
    }
    .card{
        width: 100%;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .cards-image img{
        height: 250px;
        width: 100%;
        padding: 5px;
        border-radius: 10px 10px 0 0;
    }
}

@media(max-width: 560px){
    .container{
        width: 98%;
    }
    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cards{
        width: 93%;
    }
    .cards-image img{
        height: 250px;
        width: 100%;
        padding: 5px;
        border-radius: 10px 10px 0 0;
    }
}